package views

import "git.sr.ht/~alias/polybase-go/internal"

templ Admin(courses []internal.Course, username string) {
	@Base(true) {
		@Header(true, username, GetRandomMessage()) {
			<a href="/admin/statistics">Statistiques</a>
			<a href="/admin/packs/new">Ajouter pack</a>
			<button hx-get="/admin/courses/new" hx-target="#modal-container">Ajouter poly</button>
		}
		@Grid(GroupCoursesBySemesterAndKind(courses), AdminCard)
		@Footer(0)
		<div id="modal-container"></div>
	}
}
