package views

import "github.com/alias-asso/polybase-go/libpolybase"

templ Public(courses []libpolybase.Course, count int) {
	@Base(false, true) {
		@Header(false, "", GetRandomMessage()) {
			<a href="/login">Connexion</a>
		}
		@Grid(GroupCoursesBySemesterAndKind(courses), nil, false)
		@Footer(count)
	}
}
