package templates

import "git.sr.ht/~alias/polybase/internal"

templ Admin(courses []internal.Course, username string) {
@Base(true) {
<div class="flex flex-col gap-4 p-4">
  <header>
    <h1 class="text-4xl font-bold">
      Bienvenue sur Polybase { username } !
      <span></span>
      <p class="inline text-xl">{ GetRandomMessage() }</p>
    </h1>
    <p>Un service créé par et pour l'ALIAS.</p>
  </header>
  @Grid(GroupCoursesBySemesterAndKind(courses), AdminCard)
</div>
}
}
