package templates

// Data entry
// new course creation form
// course edit form
// field validation display

import (
	"git.sr.ht/~alias/polybase/internal"
)

templ CourseForm(course internal.Course) {
  <div />
}
